.app_dark_theme {
    --bg-color: #0a192f;
    --inverted-bg-color: #ffffff;
    --primary-color: #dadada;
    --stroke: #6E6E6E;


    --card-bg: #111a2b;
    --card-border: rgba(255, 255, 255, 0.1);
    --primary-text: #dcdcdc;
    --secondary-text: #8f8f8f;
    --accent-color: #0a84ff;
    --positive-color: #00ff9d;
    --tag-bg: rgba(0, 0, 0, 0.3);
    --tag-counter-bg: rgba(255, 255, 255, 0.1);
    --highlight-bg: #0a84ff;
    --highlight-text: #fff;
    --button-hover-bg: rgba(10, 132, 255, 0.1);
}