.app_light_theme {
    --bg-color: #FFFFFF;
    --inverted-bg-color: #ABABAB;
    --primary-color: #222222;
    --stroke: rgba(0, 0, 0, 0.2)


    --card-bg: #f5f7fa;
    --card-border: rgba(0, 0, 0, 0.1);
    --primary-text: #333333;
    --secondary-text: #666666;
    --accent-color: #0a84ff;
    --tag-bg: rgba(240, 240, 240, 0.8);
    --tag-counter-bg: rgba(0, 0, 0, 0.05);
    --highlight-bg: #e6f2ff;
    --highlight-text: #0a84ff;
    --button-hover-bg: rgba(10, 132, 255, 0.05);
}